# Лабораторная №1 по NLP. Создание полносвязных нейронных сетей для решения задач **регрессии** и **классификации**

## Иморты

In [33]:
from torch.utils.data import TensorDataset, DataLoader
import torch.nn as nn
import torch
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [34]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
device

device(type='cpu')

## Задача регрессии

In [35]:
data_reg = pd.read_csv('mumbai_houses_task_filtred.csv')
data_reg

,price,area,latitude,longitude,bedrooms,bathrooms,balcony,status,neworold,parking,furnished_status,lift,type_of_building
0,22400000,629,19.032800,72.896357,2,2,0,0,1,0,0,0,0
1,35000000,974,19.032800,72.896357,3,2,0,0,1,0,0,0,0
2,31700000,968,19.085600,72.909277,3,3,0,0,1,0,0,0,0
3,18700000,629,19.155756,72.846862,2,2,2,1,1,2,0,2,0
4,13500000,1090,19.177555,72.849887,2,2,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6232,19500000,810,19.138320,72.810020,2,2,0,1,0,0,2,0,0
6233,22000000,1400,19.221920,72.854250,3,3,1,1,0,1,0,1,0
6234,20000000,750,19.144320,72.824111,2,2,0,1,0,0,0,0,0
6235,11000000,700,19.047201,72.872225,2,2,0,1,0,0,1,0,0
6236,15000000,900,19.168818,72.936375,2,2,0,1,0,0,0,0,0

In [36]:
data_reg['price'].describe()

count    6.237000e+03
mean     2.686215e+07
std      2.792125e+07
min      1.500000e+06
25%      1.300000e+07
50%      1.900000e+07
75%      3.000000e+07
max      3.600000e+08
Name: price, dtype: float64

Датасет полностью предобработан, но в нем присутствуют идентичные друг другу признаки, поэтому они будут удалены из датасета.

In [37]:
mask_dup = data_reg.T.duplicated(keep='first')
drop_cols = data_reg.columns[mask_dup].tolist()
data_reg = data_reg.loc[:, ~mask_dup]

print("удалены:", drop_cols)
data_reg

удалены: ['parking', 'lift']

,price,area,latitude,longitude,bedrooms,bathrooms,balcony,status,neworold,furnished_status,type_of_building
0,22400000,629,19.032800,72.896357,2,2,0,0,1,0,0
1,35000000,974,19.032800,72.896357,3,2,0,0,1,0,0
2,31700000,968,19.085600,72.909277,3,3,0,0,1,0,0
3,18700000,629,19.155756,72.846862,2,2,2,1,1,0,0
4,13500000,1090,19.177555,72.849887,2,2,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6232,19500000,810,19.138320,72.810020,2,2,0,1,0,2,0
6233,22000000,1400,19.221920,72.854250,3,3,1,1,0,0,0
6234,20000000,750,19.144320,72.824111,2,2,0,1,0,0,0
6235,11000000,700,19.047201,72.872225,2,2,0,1,0,1,0
6236,15000000,900,19.168818,72.936375,2,2,0,1,0,0,0

Также у целевого признака очень скошено распределение, поэтому применю логарифмирование

In [38]:
X_reg = data_reg.drop(columns=['price']).to_numpy()
y_reg = data_reg['price'].to_numpy()
y_reg = y_reg.reshape(-1, 1)
y_reg = np.log1p(y_reg)

In [39]:
X_reg_train, X_reg_test, y_reg_train, y_reg_test = train_test_split(X_reg, y_reg, test_size=0.05)
X_reg_train.shape, X_reg_test.shape, y_reg_train.shape, y_reg_test.shape

((5925, 10), (312, 10), (5925, 1), (312, 1))

In [40]:
scaler_X = StandardScaler()
X_reg_train = scaler_X.fit_transform(X_reg_train)
X_reg_test  = scaler_X.transform(X_reg_test)

In [41]:
train_reg_ds = TensorDataset(torch.from_numpy(X_reg_train).type(torch.float32), torch.from_numpy(y_reg_train).type(torch.float32)) 
train_reg_dl = DataLoader(train_reg_ds, batch_size=256, num_workers=4, shuffle=True)
test_reg_ds = TensorDataset(torch.from_numpy(X_reg_test), torch.from_numpy(y_reg_test)) 
test_reg_dl = DataLoader(test_reg_ds, batch_size=256, num_workers=4, shuffle=False)

### Создание модели

In [ ]:
class MyRegressionModel(nn.Module): 
    def __init__(self, input_size: int): 
        super(MyRegressionModel, self).__init__() 
        self.first_reg_linear = nn.Linear(in_features=input_size, out_features=64) 
        self.first_reg_relu = nn.ReLU() 
        self.first_reg_dropout = nn.Dropout(p=0.2)
        
        self.second_reg_linear = nn.Linear(in_features=64, out_features=32) 
        self.second_reg_relu = nn.ReLU() 
        self.second_reg_dropout = nn.Dropout(p=0.3)
        
        self.third_reg_linear = nn.Linear(in_features=32, out_features=16) 
        self.third_reg_relu = nn.ReLU() 
        self.third_reg_dropout = nn.Dropout(p=0.2)
        
        self.fourth_reg_linear = nn.Linear(in_features=16, out_features=1)
    
    def forward(self, x): 
        y = self.first_reg_linear(x) 
        y = self.first_reg_relu(y) 
        y = self.first_reg_dropout(y)
        
        y = self.second_reg_linear(y) 
        y = self.second_reg_relu(y) 
        y = self.second_reg_dropout(y)
        
        y = self.third_reg_linear(y) 
        y = self.third_reg_relu(y) 
        y = self.third_reg_dropout(y)
        
        y = self.fourth_reg_linear(y)
        return y

In [44]:
model = MyRegressionModel(input_size=X_reg_train.shape[1])
model

MyRegressionModel(
  (first_reg_linear): Linear(in_features=10, out_features=32, bias=True)
  (first_reg_relu): ReLU()
  (second_reg_linear): Linear(in_features=32, out_features=64, bias=True)
  (second_reg_relu): ReLU()
  (third_reg_linear): Linear(in_features=64, out_features=32, bias=True)
  (third_reg_relu): ReLU()
  (fourth_reg_linear): Linear(in_features=32, out_features=1, bias=True)
)

In [45]:
loss = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.0025)

In [46]:
epochs = 100
for epoch in range(epochs):
    for x_b, y_b in train_reg_dl:
        x_b, y_b = x_b.to(device), y_b.to(device)
        outputs = model(x_b)
        loss_value = loss(outputs, y_b)
        loss_value.backward()
        optimizer.step()
        optimizer.zero_grad()
    print(f'Эпоха {epoch + 1}, Значение функции потерь: {loss_value.item()}')

Эпоха 1, Значение функции потерь: 104.2607421875
Эпоха 2, Значение функции потерь: 11.959000587463379
Эпоха 3, Значение функции потерь: 6.064947128295898
Эпоха 4, Значение функции потерь: 4.042536735534668
Эпоха 5, Значение функции потерь: 1.6825402975082397
Эпоха 6, Значение функции потерь: 1.7742981910705566
Эпоха 7, Значение функции потерь: 1.5232436656951904
Эпоха 8, Значение функции потерь: 0.8085212111473083
Эпоха 9, Значение функции потерь: 0.5985943078994751
Эпоха 10, Значение функции потерь: 0.3802011013031006
Эпоха 11, Значение функции потерь: 0.4154699742794037
Эпоха 12, Значение функции потерь: 0.49691689014434814
Эпоха 13, Значение функции потерь: 0.3936218023300171
Эпоха 14, Значение функции потерь: 0.4123882055282593
Эпоха 15, Значение функции потерь: 0.518903911113739
Эпоха 16, Значение функции потерь: 0.5226092338562012
Эпоха 17, Значение функции потерь: 0.27432602643966675
Эпоха 18, Значение функции потерь: 0.15652994811534882
Эпоха 19, Значение функции потерь: 0.2359100878238678
Эпоха 20, Значение функции потерь: 0.1799854040145874
Эпоха 21, Значение функции потерь: 0.13519908487796783
Эпоха 22, Значение функции потерь: 0.2516246736049652
Эпоха 23, Значение функции потерь: 0.16640013456344604
Эпоха 24, Значение функции потерь: 0.17338033020496368
Эпоха 25, Значение функции потерь: 0.30732354521751404
Эпоха 26, Значение функции потерь: 0.09676733613014221
Эпоха 27, Значение функции потерь: 0.16830193996429443
Эпоха 28, Значение функции потерь: 0.19801810383796692
Эпоха 29, Значение функции потерь: 0.15069757401943207
Эпоха 30, Значение функции потерь: 0.1350562572479248
Эпоха 31, Значение функции потерь: 0.22367031872272491
Эпоха 32, Значение функции потерь: 0.1396133303642273
Эпоха 33, Значение функции потерь: 0.13160502910614014
Эпоха 34, Значение функции потерь: 0.17466726899147034
Эпоха 35, Значение функции потерь: 0.19887912273406982
Эпоха 36, Значение функции потерь: 0.17909598350524902
Эпоха 37, Значение функции потерь: 0.13456730544567108
Эпоха 38, Значение функции потерь: 0.338025838136673
Эпоха 39, Значение функции потерь: 0.1178162693977356
Эпоха 40, Значение функции потерь: 0.16278472542762756
Эпоха 41, Значение функции потерь: 0.1389297991991043
Эпоха 42, Значение функции потерь: 0.13333170115947723
Эпоха 43, Значение функции потерь: 0.3139561712741852
Эпоха 44, Значение функции потерь: 0.12010437995195389
Эпоха 45, Значение функции потерь: 0.11621745675802231
Эпоха 46, Значение функции потерь: 0.18679851293563843
Эпоха 47, Значение функции потерь: 0.13843584060668945
Эпоха 48, Значение функции потерь: 0.0887233316898346
Эпоха 49, Значение функции потерь: 0.07912705838680267
Эпоха 50, Значение функции потерь: 0.09911517053842545
Эпоха 51, Значение функции потерь: 0.08117811381816864
Эпоха 52, Значение функции потерь: 0.11384426802396774
Эпоха 53, Значение функции потерь: 0.11097745597362518
Эпоха 54, Значение функции потерь: 0.17372313141822815
Эпоха 55, Значение функции потерь: 0.127983957529068
Эпоха 56, Значение функции потерь: 0.19751642644405365
Эпоха 57, Значение функции потерь: 0.09723223000764847
Эпоха 58, Значение функции потерь: 0.10645974427461624
Эпоха 59, Значение функции потерь: 0.17452466487884521
Эпоха 60, Значение функции потерь: 0.16644050180912018
Эпоха 61, Значение функции потерь: 0.14869831502437592
Эпоха 62, Значение функции потерь: 0.14520163834095
Эпоха 63, Значение функции потерь: 0.12041237205266953
Эпоха 64, Значение функции потерь: 0.08662066608667374
Эпоха 65, Значение функции потерь: 0.11595599353313446
Эпоха 66, Значение функции потерь: 0.1916765719652176
Эпоха 67, Значение функции потерь: 0.08797738701105118
Эпоха 68, Значение функции потерь: 0.22514085471630096
Эпоха 69, Значение функции потерь: 0.0970124900341034
Эпоха 70, Значение функции потерь: 0.093170665204525
Эпоха 71, Значение функции потерь: 0.11559143662452698
Эпоха 72, Значение функции потерь: 0.14018280804157257
Эпоха 73, Значение функции потерь: 0.10595440119504929
Эпоха 74, Значение функции потерь: 0.154281884431839
Эпоха 75, Значение функции потерь: 0.1302594393491745
Эпоха 76, Значение функции потерь: 0.20298762619495392
Эпоха 77, Значение функции потерь: 0.08175582438707352
Эпоха 78, Значение функции потерь: 0.11929157376289368
Эпоха 79, Значение функции потерь: 0.12569747865200043
Эпоха 80, Значение функции потерь: 0.1398070752620697
Эпоха 81, Значение функции потерь: 0.1257936805486679
Эпоха 82, Значение функции потерь: 0.171579509973526
Эпоха 83, Значение функции потерь: 0.1957535594701767
Эпоха 84, Значение функции потерь: 0.1325875073671341
Эпоха 85, Значение функции потерь: 0.10545792430639267
Эпоха 86, Значение функции потерь: 0.1190548986196518
Эпоха 87, Значение функции потерь: 0.08149290829896927
Эпоха 88, Значение функции потерь: 0.18528564274311066
Эпоха 89, Значение функции потерь: 0.08741676807403564
Эпоха 90, Значение функции потерь: 0.07136281579732895
Эпоха 91, Значение функции потерь: 0.085825115442276
Эпоха 92, Значение функции потерь: 0.0968058854341507
Эпоха 93, Значение функции потерь: 0.06194823980331421
Эпоха 94, Значение функции потерь: 0.1283813714981079
Эпоха 95, Значение функции потерь: 0.11842579394578934
Эпоха 96, Значение функции потерь: 0.10238548368215561
Эпоха 97, Значение функции потерь: 0.19945360720157623
Эпоха 98, Значение функции потерь: 0.07268189638853073
Эпоха 99, Значение функции потерь: 0.08660455793142319
Эпоха 100, Значение функции потерь: 0.09985736757516861

In [50]:
y_pred = model(torch.from_numpy(X_reg_test).to(device).type(torch.float32)).cpu()
y_pred = y_pred.detach().numpy()
y_pred = np.expm1(y_pred)
y_true = np.expm1(y_reg_test)

from sklearn.metrics import r2_score
r2_score(y_true, y_pred)

0.6047986095010613